<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="icon" href="assets/img/web-logo-ecowise.png" sizes="64x64" type="image">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <eco-header></eco-header>
    <div class="faq-container-1">
        <div class="faq-element">
            <h1>Frequently Asking Question</h1>
            <img src="../public/assets/svg/faq-svg.svg" alt="faq">
            <p>Punya pertanyaan? Temukan jawaban untuk pertanyaan umum tentang penggunaan EcoWise di sini!</p>
        </div>
    </div>
    <div class="faq-container-2" id="faq-container"></div>

    <eco-footer></eco-footer>

    <!-- FIREBASE SDK -->
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>

    <!-- Memuat firebase-config.js -->
    <script type="module" src="../../firebase-config.js"></script>
    
    <!-- Memuat faq.js -->
    <script type="module" src="../../api/faq.js"></script>
</body>
</html>
