<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menyelesaikan Tantangan</title>
    <link rel="icon" href="assets/img/logo.png" sizes="64x64"  type="image">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header-homepage">
        <div class="header-content">
            <button class="hamburger-menu" onclick="toggleMenu()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div class="logo-header">
                <img src="assets/svg/logo-ecowise.svg" alt="Website Logo">
            </div>
            <button class="profile-button" onclick="viewProfile()">
                <i class="fas fa-user"></i>
            </button>
        </div>
        <nav class="nav-menu">
            <div class="logo-navbar">
                <img src="assets/img/eco_logo-2.png" alt="Website Logo">
                <i class="fa-solid fa-xmark" onclick="closeMenu()"></i>
            </div>
            <div class="logo-navbar">
                <i class="fa-solid fa-house"></i>
                <a href="homepage.html">Beranda</a>
            </div>
            <div class="logo-navbar">
                <i class="fa-solid fa-book"></i>
                <a href="edukasi.html">Edukasi</a>
            </div>
            <div class="logo-navbar">
                <i class="fa-solid fa-seedling"></i>
                <a href="kategoritantangan.html">Tantangan</a>
            </div>
            <div class="logo-navbar">
                <i class="fa-solid fa-gift"></i>
                <a href="#">Reward</a>
            </div>
            <div class="logo-navbar">
                <i class="fa-solid fa-comments"></i>
                <a href="#">FAQ</a>
            </div>
        </nav>
    </header>
    <div class="outer-container">
        <div class="upload-complete-container">
            <div class="upload-complete">
                <div class="upload-complete-img">
                    <img src="assets/svg/upload-sucses.svg" alt="">
                </div>
                <div class="upload-complete-text">
                    <h1>Selamat!</h1>
                   <p> Kamu Mendapatkan <i class="fa-solid fa-star"> </i> 50 Poin</p>
                    <p>Kamu telah berhasil menyelesaikan tantangan. Terima kasih atas kontribusimu untuk lingkungan yang lebih bersih. Teruskan kebiasaan baik ini dan kumpulkan lebih banyak poin untuk ditukar hadiah!<p>
                </div>
                <button class="upload-button" onclick="window.location.href='kategoritantangan.html'">Selesaikan Tantangan Lain</button>
            </div>
        </div>
    </div>
    
    <script src="uploadgambar.js"></script>
</body>
</html>
