body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}


.header .login-button{
    background-color: #F4B400;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    margin-right: 10%;
    transition: background-color 0.3s ease;
}

.header .login-button:hover {
    background-color: #dea403;
}

.gabung{
    display: block;
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 1em;
    background-color: #F4B400;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.gabung:hover {
    background-color: #dea403;
}

.container-1 {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 150px;
    text-align: center;
}

.container-1-img img{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    background-color: #8AAF9E;
    padding-top: 50px;
    padding-bottom: 30px;
}

.container-3{
    text-align: center;
    padding-top: 50px;
    max-width: 100%;
    background-color: #F5F5F5;
}
.container-4{
    text-align: center;
    padding-top: 50px;
    max-width: 100%;
    background-color: #8AAF9E;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

.inline {
    display: inline; /* Ensure elements are inline */
    margin: 0 5px; /* Adjust margin as needed */
}

.fitur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #C5D7CF;
    border: 1px solid #ddd;
    border-radius: 10px; 
    text-align: left;
}

.fitur .content {
    flex: 1; 
}
.content p{
text-align: left;
color: #407E63;
}

.fitur .image {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.fitur img {
    max-height: 100px; 
}

#ecowise-h1 {
    background: linear-gradient(
        to right, 
        #F4B400 45%, 
        #FFFF8D 47%, 
        #89AF9F 50%, 
        #6E897F 55%, 
        #114E3B 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ecowise-h1-2 {
    background: linear-gradient(
        to right, 
        #F4B400 15%, 
        #FFFF8D 30%, 
        #89AF9F 50%, 
        #6E897F 55%, 
        #114E3B 80%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #2F4841;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2F4841;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    color: #2F4841;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.container-1.container-3,.comment-container{
    color: #407E63;
}
p {
    margin-bottom: 20px;
    color: #F5F5F5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    margin-left: 10%;
}
.header .logo img {
    width: 100px;/* Jarak kiri logo */
}

.comments-section {
    position: relative;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.comment-container h3 {
    margin: 5px 0;
}

.comment-container p {
    font-style: italic;
}

.buttons {
    top: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.buttons i {
    color: #114E3B;
    padding: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer {
    background: #C5D7CF;
    color: #26322F;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    bottom: 0;
    left: 0;
}

.footer p {
    color: #2F4841;
    text-align: center;

}

/*Register*/
.register-container {
    padding-top: 50px;
    max-width: 400px;
    width: 80%;
    margin: 50px auto; /* Center the container horizontally and provide top margin */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.register-container h1{
    text-align: center;
}

.register-container p{
    color: #313131;
    text-align: center;
}

.register-container img{
    display: block; 
    margin: 0 auto; 
    width: 50%;
    height: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Halaman Login*/
.icon-back{
    font-size: 150%;
    padding: 20px;
    margin-top: 10px;
    margin-left: -20px;
}
.login-container,.forget-password-container {
    padding-top: 50px;
    max-width: 400px;
    width: 80%;
    margin: 50px auto; /* Center the container horizontally and provide top margin */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.login-container h1,p{
    text-align: center;
}

.login-container p{
    color: #313131;
    text-align: center;
}
.login-container img{
    display: block; 
    margin: 0 auto; 
    width: 50%;
    height: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group-login {
    position: relative;
}
.form-group {
    position: relative;
    align-items: center;
    justify-content: center;
}

.form-group-login i {
    position: absolute;
    right: 0px;
    top: 50%;
    padding: 11px;
    border-radius: 5px;
    background-color: #89AF9F;
    font-size: 100%;
    transform: translateY(-50%);
    pointer-events: none; /* Agar ikon tidak mengganggu input */
}

/*Forget Password*/
.forget-password-container img{
    display: block; 
    margin: 0 auto; 
    width: 50%;
    height: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.forget-password-container h1,p{
    text-align: left;
}
.forget-password-container p{
    color: #313131;
    text-align: left;
}
/* Style for labels */
label {
    display: block;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
}

/* Style for inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 85%;
    padding: 10px;
    font-size: 16px;
    border:none;
    border-radius: 4px;
    background-color: #EEEEEE;
}
input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: gray;
    font-style: italic; 
    font-size: 70%;
}
.have-account,.forget-password-i{
    font-size: 13px;
    text-decoration: underline;
}
a {
    color: #2F4841;
    text-decoration: none;
}

/* Style for the button */
.btn-login button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #F4B400;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
    margin-bottom: 20px;
}


.btn-login button:hover {
    background-color: #dea403;
}

/*Separator*/
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.btn-register button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #8AAF9E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
    margin-bottom: 20px;
}

.btn-register button:hover {
    background-color: #6f9785;
}

/*HOMEPAGE*/
/* CSS untuk menambahkan efek blur pada header-content */
.header-content.blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

/* CSS untuk header dan nav-menu */
.header-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1240px;
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-homepage .logo img {
    width: 100px;
}

.profile-button i {
    color: black;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

.bar,
.profile-button {
    font-size: 100%;
}

.nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1001;
    padding-left: 3%;
    padding-right: 3%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.nav-menu.active {
    display: flex;
}

.nav-menu .logo-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.nav-menu img {
    max-width: 100px;
}

.logo-navbar img {
    width: 65%;
}

.nav-menu .logo-navbar .fa-xmark {
    font-size: 24px;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

.logo-header img {
    max-width: 100px;
}

.profile-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/*profil penggguna*/
#profile {
    margin-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.welcome-user {
    display: flex;
    align-items: center; /* Centers items vertically if they have different heights */
}

.welcome-text {
    display: flex;
    flex-direction: column; /* Ensures the text inside is stacked vertically */
}

.text-point{
    margin-right:0;
}

.welcome-text p,
.welcome-text h1 {
    margin: 0;
    color: #407E63; /* Removes default margins for better alignment */
}
.text-point p{
    color:#2F4841;
}
.text-point i {
    padding: 5px;
    font-size: 130%; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    background: linear-gradient(90deg, #F4B400, #FDD835, #FFFF8D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.container-homepage-img img{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.container-homepage-img{
    display: flex;
    align-items: center;
    justify-content: center;
}